<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Provide details for a new book</h1>

    <form action="/books" method="post">
        <label for="title">Book title</label><br>
        <input type="text" id="title" name="title">
        <input type="submit" value="Submit">
    </form>
</body>
</html>