<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fancy Book Library</title>
</head>
<body>
    <h1>Here are all of our available books</h1>

    <ul>
        {% for book in books %}
        <li>
            <a href="/books/{{ book.id }}">{{ book.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <a href="/">Go home</a>
</body>
</html>